node-red/.flows.json.backup
[{"id":"df98bd657301b27c","type":"tab","label":"Notifications","disabled":false,"info":"","env":[]},{"id":"81c84ebcaf271487","type":"tab","label":"Lights","disabled":false,"info":"","env":[]},{"id":"3adf559cd4bc6cd6","type":"tab","label":"Tags","disabled":false,"info":"","env":[]},{"id":"13925cc034005ed4","type":"tab","label":"Batteries","disabled":false,"info":"","env":[]},{"id":"d7b33a861647fd5e","type":"tab","label":"Buttons & Remotes","disabled":false,"info":"","env":[]},{"id":"0c0b249761cf517a","type":"tab","label":"System","disabled":false,"info":"","env":[]},{"id":"4d4eefacbebd7837","type":"tab","label":"Other","disabled":false,"info":"","env":[]},{"id":"064ebf2692104c2a","type":"tab","label":"Motion Based","disabled":false,"info":"","env":[]},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1172,"y":128,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1172,"y":176,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1172,"y":224,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":964,"y":240,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"778a681f3a0da37e","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"42fcdb6d02d6e894","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"ddc66b2568e4ae77","type":"group","z":"d7b33a861647fd5e","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["464b2a0f63f66d52","0635f02213f32f42","4e9e03e8813bf004","959f495f0bf1a082","23cf89f327345faa","eee8d04c5a41eb64"],"x":34,"y":49,"w":1032,"h":202},{"id":"f1a1d0fc8b898e8c","type":"group","z":"3adf559cd4bc6cd6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["41aa6fff8213d99e","875c957d203cc049","68c1f0f6dc49bebc","072f3a2d3f2d0225","91112ddef4a1f088","ba758c1e667163ac","58146505a2706d01"],"x":14,"y":69,"w":932,"h":272},{"id":"8c457d3a60f33edc","type":"group","z":"3adf559cd4bc6cd6","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b50d719cf367a9ff","e2822be600b3d533","74b19731dca4f9c0","c32c18f13f16c527","13920b94c03d4703"],"x":24,"y":429,"w":752,"h":182},{"id":"17d4ee8dcb5f16fe","type":"group","z":"81c84ebcaf271487","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e9d55a05e9f66037","1084e112ed04aee1","d842bec4e2170c55","1ac77203d1b70a6f","1a176c6d53cfdd39","ddeac476ec524d8d","7a1cccc79010c7a6","bdd86c6ada79a79a","01e1d9ef1f385c08","2c9dbe17fcb222d0","19434acb196a821a","dca84c54c0220868"],"x":24,"y":19,"w":1372,"h":282},{"id":"42aebffbbb0836dc","type":"group","z":"81c84ebcaf271487","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3643c9b60be79bf4","842165f4332e1369","572e2a42ab1250f1","b098a6144eca2b4d","4c1b6010ffba1721","0ab0b94c0cf99079"],"x":34,"y":699,"w":822,"h":212},{"id":"74950e97246bf5da","type":"group","z":"81c84ebcaf271487","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6938429d5631e97f","5294e990abf7acba","433b7a58a9c5d0cb","6dc55edd99129b50","2b6cf873c025f917","757d6c41fc4fe326","b715f57cc06822b3","ada6ddbe9310a9fd","572e7f39b617fdf1"],"x":34,"y":919,"w":1012,"h":219.5},{"id":"07c3604a017e73cd","type":"group","z":"81c84ebcaf271487","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["108e424f38daf5ff","870191285d47dce0","6e2658643c897975","3895d0a3.e05bb","a8b74b4e.79fbb8","66234f56986cdb28"],"x":34,"y":1159,"w":792,"h":142},{"id":"9c3a3776968ecb40","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["22948cb179701b45","f528ec29a09f8c12","110399ff7ba8d539","c7da98e3d7502e88","b2c07e58b1eecfdf","96bd96d71e1726c3","87fbcd08b26e7f2a","66340ff2533a78d8","1c721e9a4a6656e5"],"x":14,"y":9,"w":1132,"h":302},{"id":"01ca0ee2bde66e35","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4c112fb981c1386e","dc06c7b4ddc187a0","77662277dd0bd0c3","d5d9622119bd082a","5db787de3c769ab5"],"x":24,"y":319,"w":492,"h":202},{"id":"c9cff2e79f55ed36","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f33c2b78a7e845e0","8200095acf283fb2","54148190f0bc0bc1","ddb948d088659222"],"x":24,"y":539,"w":842,"h":167},{"id":"c49a31f90183928b","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b4a33ff56ba3e995","cb8a754c60e0e22b","57d6b7b2e93df394","522eee56abc31e94","dfb8eebbf3847b60","8de9cc6d0ae5f4c8","26b52d0ce272992c","210ac2997cbef992"],"x":4,"y":739,"w":1252,"h":272},{"id":"5fe97e1fe7dd4bc2","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a761824318e1eaf7","165645dbb4728340","73ee88d693cdfe8e","d6d40c4f394b35dd","b4e28e1edf472d45","3badc190a70c65d7","efae2cb9b223992c","008e8cec7a0f0a33","71f5579cc9d1b0c3"],"x":14,"y":1029,"w":1052,"h":282},{"id":"fe7472b1aee1cbc9","type":"group","z":"df98bd657301b27c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c57843691bd53dde","7c5fb36a286593c6","9249379672df9d33","9c7ce0afbeb3be5d","1a2b2947ef121eff","15b15d6be3c052f7","79d896f2655a36e6","a98385af54f25e69","6555daaf197fa42f","32db24a47eeb8e53","eaa663732e38599a"],"x":14,"y":1329,"w":1332,"h":302},{"id":"c1f948a98d3592fb","type":"group","z":"0c0b249761cf517a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4e0178b075920d64","bb8a798bf2e63919","9a588abaa4b5389e"],"x":14,"y":129,"w":452,"h":142},{"id":"2be3cffd.0e38c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"e8798e9b74bedbdd","type":"ha-entity-config","server":"2be3cffd.0e38c","name":"","version":2,"haConfig":[{"property":"name","value":"Pick A Restaurant"},{"property":"icon","value":""},{"property":"device_class","value":""}],"entityType":"button"},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: env.get('title'),\n            message: env.get('message'),\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":298,"y":80,"wires":[["368c9723.5876f8"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1024,"y":176,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["f9e57204.71076","5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":832,"y":176,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":432,"y":176,"wires":[["83ad2004.d04d"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"2be3cffd.0e38c","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":822,"y":128,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"2be3cffd.0e38c","version":1,"event_type":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":624,"y":176,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["f9e57204.71076"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"2be3cffd.0e38c","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":550,"y":80,"wires":[[]]},{"id":"22948cb179701b45","type":"api-call-service","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Dayshift Message (Frasers Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Dayshift Automation Successful\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":210,"wires":[[]]},{"id":"f528ec29a09f8c12","type":"server-state-changed","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Fraser State Changed To Work","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Fraser At Work Automation"},{"property":"icon","value":""}],"entityidfilter":"person.fraser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Work","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":170,"wires":[["c7da98e3d7502e88"],[]]},{"id":"110399ff7ba8d539","type":"api-call-service","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Nightshift Message (Frasers Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Nightshift Automation Successful\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":90,"wires":[[]]},{"id":"c7da98e3d7502e88","type":"timecheck","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"","time":"18:00","x":450,"y":170,"wires":[["b2c07e58b1eecfdf"],["96bd96d71e1726c3"]]},{"id":"b2c07e58b1eecfdf","type":"time-range-switch","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"","lat":"56.56849","lon":"-2.58468","startTime":"18:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":650,"y":110,"wires":[["110399ff7ba8d539","87fbcd08b26e7f2a"],[]]},{"id":"96bd96d71e1726c3","type":"time-range-switch","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"","lat":"56.56849","lon":"-2.58468","startTime":"06:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":650,"y":210,"wires":[["22948cb179701b45","66340ff2533a78d8"],[]]},{"id":"87fbcd08b26e7f2a","type":"api-call-service","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Nightshift Message (Julies Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g781b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Fraser Has Arrived At Work. Have A Good Night Sleep Julie ❤️\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":150,"wires":[[]]},{"id":"66340ff2533a78d8","type":"api-call-service","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Dayshift Message (Julies Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g781b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Fraser Has Arrived At Work. Have A Good Day At Work Princess ❤️\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":270,"wires":[[]]},{"id":"4c112fb981c1386e","type":"inject","z":"df98bd657301b27c","g":"01ca0ee2bde66e35","name":"Meds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 05 * * 1,3,5,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["d5d9622119bd082a"]]},{"id":"dc06c7b4ddc187a0","type":"inject","z":"df98bd657301b27c","g":"01ca0ee2bde66e35","name":"Beard & Meds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 05 * * 2,4,6","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":420,"wires":[["77662277dd0bd0c3"]]},{"id":"77662277dd0bd0c3","type":"api-call-service","z":"df98bd657301b27c","g":"01ca0ee2bde66e35","name":"Beard & Meds Message ","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Beard To Be Washed. Please Remember To Take Medication & Inhaler Today.\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":420,"wires":[[]]},{"id":"d5d9622119bd082a","type":"api-call-service","z":"df98bd657301b27c","g":"01ca0ee2bde66e35","name":"Meds Message ","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Remember To Take Medication & Inhaler\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":480,"wires":[[]]},{"id":"f33c2b78a7e845e0","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","g":"c9cff2e79f55ed36","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Ender 3 V2","type":"str"},{"name":"message","value":"Print Is Finishing, Was It Successful?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"action2Title","value":"No","type":"str"},{"name":"group","value":"","type":"str"}],"x":500,"y":650,"wires":[["54148190f0bc0bc1"],[],[],[]]},{"id":"8200095acf283fb2","type":"server-state-changed","z":"df98bd657301b27c","g":"c9cff2e79f55ed36","name":"Print Finished","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Octoprint Notification"},{"property":"icon","value":""}],"entityidfilter":"sensor.octoprint_print_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Operational","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":650,"wires":[["f33c2b78a7e845e0"],[]]},{"id":"54148190f0bc0bc1","type":"api-call-service","z":"df98bd657301b27c","g":"c9cff2e79f55ed36","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.successful_prints"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":600,"wires":[[]]},{"id":"b4a33ff56ba3e995","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Replace Air Filter","type":"str"},{"name":"message","value":"Has It Been Replaced?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"}],"x":840,"y":910,"wires":[["cb8a754c60e0e22b"],[],[],[]]},{"id":"a761824318e1eaf7","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Replace Cat Filter","type":"str"},{"name":"message","value":"Has It Been Replaced?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"action2Title","value":"No","type":"str"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"}],"x":660,"y":1160,"wires":[["165645dbb4728340"],["d6d40c4f394b35dd"],[],[]]},{"id":"cb8a754c60e0e22b","type":"api-call-service","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.airfilter"],"data":"{\"value\":\"180\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":900,"wires":[[]]},{"id":"165645dbb4728340","type":"api-call-service","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":[],"data":"{\"value\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1140,"wires":[[]]},{"id":"57d6b7b2e93df394","type":"ha-tag","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"Air Filter Tag Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["34473cb0-84ec-47c7-afb3-b995d6d84c78"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":370,"y":900,"wires":[["522eee56abc31e94"]]},{"id":"73ee88d693cdfe8e","type":"ha-tag","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"Water Filter Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["4678f2bc-04e2-4813-bd81-e31a7eca9dab"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1160,"wires":[["b4e28e1edf472d45"]]},{"id":"d6d40c4f394b35dd","type":"delay","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":1110,"wires":[["a761824318e1eaf7"]]},{"id":"522eee56abc31e94","type":"and-gate","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"AND","rules":[{"t":"lt","v":"5.0","vt":"str","propertyType":"msg","property":"payload","topic":"entity_state"},{"t":"eq","v":"34473cb0-84ec-47c7-afb3-b995d6d84c78","vt":"str","propertyType":"msg","property":"topic","topic":"tag_id"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":630,"y":910,"wires":[["b4a33ff56ba3e995","8de9cc6d0ae5f4c8"]]},{"id":"b4e28e1edf472d45","type":"and-gate","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"AND","rules":[{"t":"eq","v":"","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":460,"y":1160,"wires":[["a761824318e1eaf7"]]},{"id":"dfb8eebbf3847b60","type":"server-state-changed","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"Air Filter < 5 Days","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Air Filter Notification"},{"property":"icon","value":""}],"entityidfilter":"input_number.slider2","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5.0","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":360,"y":970,"wires":[["522eee56abc31e94"],[]]},{"id":"3badc190a70c65d7","type":"server-state-changed","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"Filter < 5 Days","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Cat Water Filter Notification"},{"property":"icon","value":""}],"entityidfilter":"input_number.slider1","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5.0","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1220,"wires":[["b4e28e1edf472d45"],[]]},{"id":"8de9cc6d0ae5f4c8","type":"debug","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":830,"wires":[]},{"id":"26b52d0ce272992c","type":"ha-tag","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"Air Filter Tag Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["34473cb0-84ec-47c7-afb3-b995d6d84c78"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":900,"wires":[[]]},{"id":"c57843691bd53dde","type":"ha-entity","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Bin Notifcation Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Bin Notifications"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":600,"y":1470,"wires":[["9249379672df9d33"],[]]},{"id":"7c5fb36a286593c6","type":"api-call-service","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Fraser Phone","server":"2be3cffd.0e38c","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{payload}}\",\"title\":\"Bin Notifcation\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":1440,"wires":[[]]},{"id":"9249379672df9d33","type":"template","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The {{data.attributes.friendly_name}} Needs To Go Out Tonight.","output":"str","x":880,"y":1470,"wires":[["9c7ce0afbeb3be5d"]]},{"id":"9c7ce0afbeb3be5d","type":"function","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"","func":"msg.payload = {\n\ndata: {\n\nmessage: msg.payload\n\n}\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1470,"wires":[["1a2b2947ef121eff","7c5fb36a286593c6"]]},{"id":"1a2b2947ef121eff","type":"api-call-service","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Julie Phone","server":"2be3cffd.0e38c","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_sm_g781b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{payload}}\",\"title\":\"Bin Notifcation\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1240,"y":1500,"wires":[[]]},{"id":"15b15d6be3c052f7","type":"api-current-state","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Food Bin","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.food_bin","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":1410,"wires":[["c57843691bd53dde"],[]]},{"id":"79d896f2655a36e6","type":"inject","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"At 16:30","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1480,"wires":[["15b15d6be3c052f7","a98385af54f25e69","6555daaf197fa42f","eaa663732e38599a"]]},{"id":"efae2cb9b223992c","type":"debug","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":1260,"wires":[]},{"id":"008e8cec7a0f0a33","type":"debug","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"Data2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":1270,"wires":[]},{"id":"a98385af54f25e69","type":"api-current-state","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Grey Bin","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.grey_bin","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":1470,"wires":[["c57843691bd53dde"],[]]},{"id":"6555daaf197fa42f","type":"api-current-state","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Purple Bin","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.purple_bin","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":1530,"wires":[["c57843691bd53dde"],[]]},{"id":"1c721e9a4a6656e5","type":"comment","z":"df98bd657301b27c","g":"9c3a3776968ecb40","name":"Fraser Work ","info":"","x":500,"y":50,"wires":[]},{"id":"5db787de3c769ab5","type":"comment","z":"df98bd657301b27c","g":"01ca0ee2bde66e35","name":"Daily Notifications","info":"","x":280,"y":360,"wires":[]},{"id":"ddb948d088659222","type":"comment","z":"df98bd657301b27c","g":"c9cff2e79f55ed36","name":"3D Printer ","info":"","x":460,"y":580,"wires":[]},{"id":"210ac2997cbef992","type":"comment","z":"df98bd657301b27c","g":"c49a31f90183928b","name":"Air Filter ","info":"","x":510,"y":780,"wires":[]},{"id":"71f5579cc9d1b0c3","type":"comment","z":"df98bd657301b27c","g":"5fe97e1fe7dd4bc2","name":"Cat Water Filter ","info":"","x":370,"y":1070,"wires":[]},{"id":"32db24a47eeb8e53","type":"comment","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Bin Schedule ","info":"","x":640,"y":1370,"wires":[]},{"id":"eaa663732e38599a","type":"api-current-state","z":"df98bd657301b27c","g":"fe7472b1aee1cbc9","name":"Green Bin","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"tomorrow","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.green_bin","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":1590,"wires":[["c57843691bd53dde"],[]]},{"id":"475b6f5cf91455f8","type":"inject","z":"df98bd657301b27c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1810,"wires":[["a922d27d3f46dd9b"]]},{"id":"a922d27d3f46dd9b","type":"api-render-template","z":"df98bd657301b27c","name":"","server":"2be3cffd.0e38c","version":0,"template":"{{ [\n\"Welcome Home Domenic\",\n\"Domenic you are home, we missed you so much!\",\n\"Welcome home Master\",\n\"Hey there Domenic Welcome Home!\",\n\"Domenic can not hide from the system. Welcome home.\",\n\"Just a quick announcement. Domenic has arrived!\",\n\"My systems are picking up the presence of additional humans. Domenic has been identified as home.\"\n ] | random }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":330,"y":1810,"wires":[["8780a6596135c771"]]},{"id":"8780a6596135c771","type":"api-call-service","z":"df98bd657301b27c","name":"Fraser Phone","server":"2be3cffd.0e38c","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{payload}}\",\"title\":\"Bin Notifcation\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":1810,"wires":[[]]},{"id":"e9d55a05e9f66037","type":"api-call-service","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":110,"wires":[[]]},{"id":"6c5c2e2a63f09bad","type":"server-state-changed","z":"81c84ebcaf271487","name":"LG Plex Paused","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_lg_lg_oled55c14lb","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":600,"wires":[["623d19deacfc5141"],[]]},{"id":"623d19deacfc5141","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["downstairs_wc","kitchen"],"deviceId":[],"entityId":["light.downstairs_wc","light.kitchen_spotlights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":600,"wires":[["f21d979aafaefa85"]]},{"id":"f21d979aafaefa85","type":"api-current-state","z":"81c84ebcaf271487","name":"LG Plex Playing","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.plex_plex_for_lg_lg_oled55c14lb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":600,"wires":[["153228fa96cb2f95"],[]]},{"id":"153228fa96cb2f95","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["downstairs_wc","kitchen"],"deviceId":[],"entityId":["light.downstairs_wc","light.kitchen_spotlights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":600,"wires":[[]]},{"id":"135a584334f9c221","type":"or-gate","z":"81c84ebcaf271487","name":"","rules":[{"t":"neq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"Offline","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"or","emitOnlyIfTrue":false,"x":550,"y":380,"wires":[[]]},{"id":"eb64fea84417469c","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":380,"wires":[[]]},{"id":"e278a25cf3d59e28","type":"server-state-changed","z":"81c84ebcaf271487","name":"Fraser Away","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.fraser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":300,"y":360,"wires":[["135a584334f9c221"],[]]},{"id":"d1513760a0e27b8e","type":"server-state-changed","z":"81c84ebcaf271487","name":"PC Offline","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Offline","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":420,"wires":[["135a584334f9c221"],[]]},{"id":"1084e112ed04aee1","type":"time-range-switch","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","lat":"56.559109","lon":"-2.591543","startTime":"16:30","endTime":"00:15","startOffset":0,"endOffset":0,"x":940,"y":150,"wires":[["e9d55a05e9f66037"],["19434acb196a821a"]]},{"id":"6938429d5631e97f","type":"api-call-service","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["hallway"],"deviceId":[],"entityId":["switch.plug_for_lamp_in_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":1010,"wires":[[]]},{"id":"3643c9b60be79bf4","type":"comment","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","name":"Bedside Light","info":"","x":240,"y":740,"wires":[]},{"id":"5294e990abf7acba","type":"comment","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"Hallway Light","info":"","x":230,"y":960,"wires":[]},{"id":"842165f4332e1369","type":"api-call-service","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_masterbedroom_bedside"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":780,"wires":[[]]},{"id":"572e2a42ab1250f1","type":"api-call-service","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_masterbedroom_bedside"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":840,"wires":[[]]},{"id":"433b7a58a9c5d0cb","type":"api-call-service","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["hallway"],"deviceId":[],"entityId":["switch.plug_for_lamp_in_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1080,"wires":[[]]},{"id":"108e424f38daf5ff","type":"api-call-service","z":"81c84ebcaf271487","g":"07c3604a017e73cd","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["utility"],"deviceId":["5ef49b2cb67ef8663844e7c8b3372cbe"],"entityId":["switch.plug_for_external_lighting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1200,"wires":[[]]},{"id":"870191285d47dce0","type":"comment","z":"81c84ebcaf271487","g":"07c3604a017e73cd","name":"External Lights","info":"","x":140,"y":1200,"wires":[]},{"id":"6e2658643c897975","type":"api-call-service","z":"81c84ebcaf271487","g":"07c3604a017e73cd","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["utility"],"deviceId":["5ef49b2cb67ef8663844e7c8b3372cbe"],"entityId":["switch.plug_for_external_lighting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":1260,"wires":[[]]},{"id":"3895d0a3.e05bb","type":"bigtimer","z":"81c84ebcaf271487","g":"07c3604a017e73cd","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunset - 2130","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"5004","endtime":"1439","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":340,"y":1240,"wires":[["a8b74b4e.79fbb8"],[],[]]},{"id":"a8b74b4e.79fbb8","type":"switch","z":"81c84ebcaf271487","g":"07c3604a017e73cd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":509.66663360595703,"y":1219.1666564941406,"wires":[["108e424f38daf5ff"],["6e2658643c897975"]]},{"id":"6dc55edd99129b50","type":"bigtimer","z":"81c84ebcaf271487","g":"74950e97246bf5da","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Mon-Fri 1830 - 2200","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"1110","endtime":"1320","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":510,"y":1010,"wires":[["2b6cf873c025f917"],[],[]]},{"id":"2b6cf873c025f917","type":"switch","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":1050,"wires":[["6938429d5631e97f"],["433b7a58a9c5d0cb"]]},{"id":"757d6c41fc4fe326","type":"ha-entity","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Hallway Lights (1830 - 2330)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:floor-lamp"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":140,"y":1020,"wires":[["ada6ddbe9310a9fd","572e7f39b617fdf1"],[]]},{"id":"66234f56986cdb28","type":"ha-entity","z":"81c84ebcaf271487","g":"07c3604a017e73cd","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"External Lights (Sunset - 2130)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:string-lights"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":140,"y":1250,"wires":[["3895d0a3.e05bb"],[]]},{"id":"b098a6144eca2b4d","type":"bigtimer","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","outtopic":"","outpayload1":"on","outpayload2":"off","name":"2000 - 2230","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"1200","endtime":"1350","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":460,"y":780,"wires":[["4c1b6010ffba1721"],[],[]]},{"id":"4c1b6010ffba1721","type":"switch","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":870,"wires":[["842165f4332e1369"],["572e2a42ab1250f1"]]},{"id":"0ab0b94c0cf99079","type":"ha-entity","z":"81c84ebcaf271487","g":"42aebffbbb0836dc","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Bedroom Lamp (2000 - 2230)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:lamp"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":140,"y":840,"wires":[["b098a6144eca2b4d"],[]]},{"id":"d842bec4e2170c55","type":"and-gate","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"AND","rules":[{"t":"eq","v":"Online","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"true","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":640,"y":150,"wires":[["1084e112ed04aee1"]]},{"id":"1ac77203d1b70a6f","type":"ha-entity","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Gaming Light On"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"true","outputPayloadType":"bool","x":150,"y":100,"wires":[["d842bec4e2170c55"],[]]},{"id":"1a176c6d53cfdd39","type":"server-state-changed","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"PC Online","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Online","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":230,"wires":[["d842bec4e2170c55"],[]]},{"id":"ddeac476ec524d8d","type":"debug","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":250,"wires":[]},{"id":"7a1cccc79010c7a6","type":"trigger-state","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","server":"2be3cffd.0e38c","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.fraser","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":160,"y":160,"wires":[["d842bec4e2170c55"],[]]},{"id":"bdd86c6ada79a79a","type":"server-state-changed","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"Fraser Away","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.fraser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":850,"y":210,"wires":[["19434acb196a821a"],[]]},{"id":"01e1d9ef1f385c08","type":"server-state-changed","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"PC Offline","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Offline","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"true","valueType":"bool"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":840,"y":260,"wires":[["19434acb196a821a"],[]]},{"id":"2c9dbe17fcb222d0","type":"api-call-service","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":230,"wires":[[]]},{"id":"19434acb196a821a","type":"and-gate","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"AND","rules":[{"t":"eq","v":"true","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":1150,"y":230,"wires":[["2c9dbe17fcb222d0"]]},{"id":"b715f57cc06822b3","type":"bigtimer","z":"81c84ebcaf271487","g":"74950e97246bf5da","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sat/Sun 1830 - 2330","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"1110","endtime":"1410","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":510,"y":1090,"wires":[["2b6cf873c025f917"],[],[]]},{"id":"ada6ddbe9310a9fd","type":"weekday","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":320,"y":1010,"wires":[["6dc55edd99129b50"],[]]},{"id":"572e7f39b617fdf1","type":"weekday","z":"81c84ebcaf271487","g":"74950e97246bf5da","name":"","sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"x":320,"y":1090,"wires":[["b715f57cc06822b3"],[]]},{"id":"dca84c54c0220868","type":"comment","z":"81c84ebcaf271487","g":"17d4ee8dcb5f16fe","name":"Gameroom Lamp","info":"","x":660,"y":60,"wires":[]},{"id":"41aa6fff8213d99e","type":"ha-tag","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["cfd9eb0b-d8be-4a8b-9379-f2af4bf12253"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":180,"wires":[["875c957d203cc049","91112ddef4a1f088"]]},{"id":"875c957d203cc049","type":"api-current-state","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battlestation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":180,"wires":[["68c1f0f6dc49bebc"],[]]},{"id":"68c1f0f6dc49bebc","type":"api-call-service","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"Turn on PC","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"","areaId":[],"deviceId":[],"entityId":["sensor.battlestation"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":180,"wires":[[]]},{"id":"072f3a2d3f2d0225","type":"api-call-service","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\t   \"media_content_id\":\"https://open.spotify.com/playlist/37i9dQZF1DWTyiBJ6yEqeu?si=d2eb3483bf2f4abd\",\t   \"media_content_type\":\"playlist\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":240,"wires":[[]]},{"id":"91112ddef4a1f088","type":"api-call-service","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"Set Volume To 40%","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\"volume_level\":0.4}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":300,"wires":[["ba758c1e667163ac"]]},{"id":"ba758c1e667163ac","type":"api-call-service","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"Shuffle","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"shuffle_set","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\t    \"shuffle\": \"true\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":240,"wires":[["072f3a2d3f2d0225"]]},{"id":"b50d719cf367a9ff","type":"debug","z":"3adf559cd4bc6cd6","g":"8c457d3a60f33edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":570,"wires":[]},{"id":"e2822be600b3d533","type":"inject","z":"3adf559cd4bc6cd6","g":"8c457d3a60f33edc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":570,"wires":[["74b19731dca4f9c0"]]},{"id":"74b19731dca4f9c0","type":"function","z":"3adf559cd4bc6cd6","g":"8c457d3a60f33edc","name":"","func":"// define empty array as variable\nvar placeArray = []\n\n// add values to Array\nplaceArray.push(\"Vandal & Co\")\nplaceArray.push(\"Mas\")\nplaceArray.push(\"GOA\")\nplaceArray.push(\"Gidi Grill\")\nplaceArray.push(\"Sol y Sombra Tapas Bar\")\nplaceArray.push(\"Tailend\")\nplaceArray.push(\"Forgans\")\nplaceArray.push(\"Old Boatyard\")\nplaceArray.push(\"Bellrock Buffet\")\nplaceArray.push(\"Royal Thai\")\nplaceArray.push(\"Townhouse\")\nplaceArray.push(\"Roos Leap\")\nplaceArray.push(\"Rug Bug Bennys\")\nplaceArray.push(\"Sharkys\")\nplaceArray.push(\"Anstruther Fish Bar\")\nplaceArray.push(\"Beijing Banquet\")\nplaceArray.push(\"Cosmos\")\nplaceArray.push(\"Wagamamma\")\nplaceArray.push(\"Pizza Hut Buffet\")\n\n\n// return valueArray in msg.payload\nmsg.payload = placeArray\n\n// return length of placeArray in msg.arrayLength\nmsg.arrayLength = placeArray.length\n\n// return msg Object\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":570,"wires":[["b50d719cf367a9ff"]]},{"id":"c32c18f13f16c527","type":"ha-button","z":"3adf559cd4bc6cd6","g":"8c457d3a60f33edc","name":"Pick","version":0,"debugenabled":false,"outputs":1,"entityConfig":"e8798e9b74bedbdd","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":140,"y":520,"wires":[["74b19731dca4f9c0"]]},{"id":"58146505a2706d01","type":"comment","z":"3adf559cd4bc6cd6","g":"f1a1d0fc8b898e8c","name":"Gameroom Tag","info":"","x":480,"y":110,"wires":[]},{"id":"13920b94c03d4703","type":"comment","z":"3adf559cd4bc6cd6","g":"8c457d3a60f33edc","name":"Restaurant Randomiser","info":"","x":380,"y":470,"wires":[]},{"id":"ceeeb0978d14f3cd","type":"api-call-service","z":"13925cc034005ed4","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"The garage door has been open for 10 minutes.\",\"title\":\"Your Garage Door Friend\",\"target\":\"platform specific\",\"data\":\"platform specific\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":80,"wires":[[]]},{"id":"80764cd58a453f58","type":"debug","z":"13925cc034005ed4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":340,"wires":[]},{"id":"a093bd73d9223e1a","type":"ha-get-entities","z":"13925cc034005ed4","name":"","server":"2be3cffd.0e38c","version":0,"rules":[{"property":"attributes.device_class","logic":"is","value":"battery","valueType":"num"},{"property":"attributes.battery","logic":"lte","value":"75","valueType":"num"},{"property":"entity_id","logic":"is_not","value":".+(_battery_level)$","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":760,"y":400,"wires":[["80764cd58a453f58"]]},{"id":"ea6564e881bb28d0","type":"poll-state","z":"13925cc034005ed4","name":"","server":"2be3cffd.0e38c","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"2","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.frontdoorsensorpower","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":470,"y":400,"wires":[["a093bd73d9223e1a"]]},{"id":"464b2a0f63f66d52","type":"ha-device","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"IKEA On/Off \"On\" Pressed","server":"2be3cffd.0e38c","version":0,"debugenabled":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":0,"deviceType":"trigger","device":"48912793a52cad06ed49f03b26e9054f","event":{"device_id":"48912793a52cad06ed49f03b26e9054f","domain":"zha","platform":"device","type":"remote_button_short_press","subtype":"turn_on"},"capabilities":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":190,"wires":[["23cf89f327345faa"]]},{"id":"0635f02213f32f42","type":"api-call-service","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e27_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":210,"wires":[[]]},{"id":"4e9e03e8813bf004","type":"api-current-state","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.ikea_e27_gameroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":190,"wires":[["959f495f0bf1a082"],["0635f02213f32f42"]]},{"id":"959f495f0bf1a082","type":"api-call-service","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["c716be5cba86e0b7d4c712dae63e282f"],"entityId":["light.ikea_e27_gameroom"],"data":"{\t   \"color_name\":\"red\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":140,"wires":[[]]},{"id":"23cf89f327345faa","type":"ha-entity","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"IKEA On/Off Button"},{"property":"device_class","value":""},{"property":"icon","value":"phu:button"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":380,"y":190,"wires":[["4e9e03e8813bf004"],[]]},{"id":"eee8d04c5a41eb64","type":"comment","z":"d7b33a861647fd5e","g":"ddc66b2568e4ae77","name":"IKEA ON/OFF BUTTON","info":"","x":570,"y":90,"wires":[]},{"id":"2037ecaef390af52","type":"api-call-service","z":"d7b33a861647fd5e","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"spotcast","service":"start","areaId":[],"deviceId":[],"entityId":["media_player.googlehomemasterbedroom"],"data":"{\t   \"spotify_device_id\":\"e15068e5c8151b434bacbf5cffe25f94\",\t   \"uri\":\"spotify:playlist:37i9dQZEVXbMwmF30ppw50\",\t   \"force_playback\":false,\t   \"random_song\":false,\t   \"repeat\":\"track\",\t   \"shuffle\":true,\t   \"offset\":0,\t   \"start_volume\":50,\t   \"ignore_fully_played\":false\t}\t\t","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":460,"wires":[["57d3ef4fb05b9465"]]},{"id":"a0134a7edcf3f535","type":"ha-device","z":"d7b33a861647fd5e","name":"","server":"2be3cffd.0e38c","version":0,"debugenabled":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":0,"deviceType":"trigger","device":"bdc72f1122edd2f4757388f13fc590ba","event":{"device_id":"bdc72f1122edd2f4757388f13fc590ba","domain":"zha","platform":"device","type":"remote_button_short_press","subtype":"turn_on"},"capabilities":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":460,"wires":[["3ddd570bbbbaacd1"]]},{"id":"3ddd570bbbbaacd1","type":"ha-entity","z":"d7b33a861647fd5e","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"IKEA Shortcut Button"},{"property":"device_class","value":""},{"property":"icon","value":"phu:button"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":330,"y":460,"wires":[["cc7c365e6ea95c5c"],[]]},{"id":"cc7c365e6ea95c5c","type":"time-range-switch","z":"d7b33a861647fd5e","name":"","lat":"56.559109","lon":"-2.591543","startTime":"07:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":540,"y":460,"wires":[["2037ecaef390af52"],[]]},{"id":"57d3ef4fb05b9465","type":"debug","z":"d7b33a861647fd5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"f41e051e099c2508","type":"api-call-service","z":"0c0b249761cf517a","name":"Reboot HA","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"hassio","service":"host_reboot","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":80,"wires":[[]]},{"id":"58d8e71d6f7878c5","type":"ha-entity","z":"0c0b249761cf517a","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Reboot 0200"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":410,"y":80,"wires":[["f41e051e099c2508"],[]]},{"id":"14919465c6a4d384","type":"inject","z":"0c0b249761cf517a","name":"Mon & Thurs @ 0200","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 02 * * 1,4","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["58d8e71d6f7878c5"]]},{"id":"4e0178b075920d64","type":"inject","z":"0c0b249761cf517a","g":"c1f948a98d3592fb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":230,"wires":[["bb8a798bf2e63919"]]},{"id":"bb8a798bf2e63919","type":"api-call-service","z":"0c0b249761cf517a","g":"c1f948a98d3592fb","name":"Days Since Lawn Cut","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"input_number","service":"increment","areaId":[],"deviceId":[],"entityId":["input_number.front_lawn_mow","input_number.rear_lawn_mow"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":230,"wires":[[]]},{"id":"9a588abaa4b5389e","type":"comment","z":"0c0b249761cf517a","g":"c1f948a98d3592fb","name":"Days Since Lawn Cut","info":"","x":250,"y":170,"wires":[]},{"id":"2641048a99735111","type":"server-state-changed","z":"4d4eefacbebd7837","name":"","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Online","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":500,"y":130,"wires":[["71f5c3ea2500bb50"],[]]},{"id":"ebb3d08bbf7e3241","type":"api-call-service","z":"4d4eefacbebd7837","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":true,"domain":"tts","service":"google_translate_say","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\t   \"entity_id\": \"media_player.googlehomegameroom\",\t   \"cache\": false,\t   \"message\":\"Time To Study\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":130,"wires":[["4ded85bf72c96c3b"]]},{"id":"71f5c3ea2500bb50","type":"and-gate","z":"4d4eefacbebd7837","name":"","rules":[{"t":"eq","v":"Online","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"true","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":790,"y":130,"wires":[["aa09f9b24cf5e19c"]]},{"id":"64f01b401193c8a4","type":"ha-entity","z":"4d4eefacbebd7837","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Study Time"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"","outputPayloadType":"str","x":570,"y":190,"wires":[["71f5c3ea2500bb50"],[]]},{"id":"e190e7036381e886","type":"trigger-state","z":"4d4eefacbebd7837","name":"","server":"2be3cffd.0e38c","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.fraser","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":530,"y":70,"wires":[["71f5c3ea2500bb50"],[]]},{"id":"aa09f9b24cf5e19c","type":"time-range-switch","z":"4d4eefacbebd7837","name":"","lat":"56.56849","lon":"-2.58468","startTime":"11:00","endTime":"15:00","startOffset":0,"endOffset":0,"x":970,"y":130,"wires":[[],[]]},{"id":"4ded85bf72c96c3b","type":"debug","z":"4d4eefacbebd7837","name":"Study","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":100,"wires":[]},{"id":"ae886b6933c2f13e","type":"inject","z":"4d4eefacbebd7837","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":80,"wires":[["ebb3d08bbf7e3241"]]}]