node-red/.flows.json.backup
[{"id":"df98bd657301b27c","type":"tab","label":"Notifications","disabled":false,"info":"","env":[]},{"id":"81c84ebcaf271487","type":"tab","label":"Lighting ","disabled":false,"info":"","env":[]},{"id":"3adf559cd4bc6cd6","type":"tab","label":"Other","disabled":false,"info":"","env":[]},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1172,"y":128,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1172,"y":176,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1172,"y":224,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":964,"y":240,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#DDAA99","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"2be3cffd.0e38c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: env.get('title'),\n            message: env.get('message'),\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":298,"y":80,"wires":[["368c9723.5876f8"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1024,"y":176,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["f9e57204.71076","5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":832,"y":176,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":432,"y":176,"wires":[["83ad2004.d04d"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"2be3cffd.0e38c","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":822,"y":128,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"2be3cffd.0e38c","version":1,"event_type":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":624,"y":176,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["f9e57204.71076"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"2be3cffd.0e38c","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":550,"y":80,"wires":[[]]},{"id":"22948cb179701b45","type":"api-call-service","z":"df98bd657301b27c","name":"Dayshift Message (Frasers Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Dayshift Automation Successful\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":160,"wires":[[]]},{"id":"f528ec29a09f8c12","type":"server-state-changed","z":"df98bd657301b27c","name":"Fraser State Changed To Work","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Fraser At Work Automation"},{"property":"icon","value":""}],"entityidfilter":"person.fraser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Work","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":120,"wires":[["c7da98e3d7502e88"],[]]},{"id":"110399ff7ba8d539","type":"api-call-service","z":"df98bd657301b27c","name":"Nightshift Message (Frasers Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Nightshift Automation Successful\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":40,"wires":[[]]},{"id":"c7da98e3d7502e88","type":"timecheck","z":"df98bd657301b27c","name":"","time":"18:00","x":450,"y":120,"wires":[["b2c07e58b1eecfdf"],["96bd96d71e1726c3"]]},{"id":"b2c07e58b1eecfdf","type":"time-range-switch","z":"df98bd657301b27c","name":"","lat":"56.56849","lon":"-2.58468","startTime":"18:00","endTime":"22:30","startOffset":0,"endOffset":0,"x":650,"y":60,"wires":[["110399ff7ba8d539","87fbcd08b26e7f2a"],[]]},{"id":"96bd96d71e1726c3","type":"time-range-switch","z":"df98bd657301b27c","name":"","lat":"56.56849","lon":"-2.58468","startTime":"06:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":650,"y":160,"wires":[["22948cb179701b45","66340ff2533a78d8"],[]]},{"id":"87fbcd08b26e7f2a","type":"api-call-service","z":"df98bd657301b27c","name":"Nightshift Message (Julies Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g781b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Fraser Has Arrived At Work. Have A Good Night Sleep Julie ❤️\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":100,"wires":[[]]},{"id":"66340ff2533a78d8","type":"api-call-service","z":"df98bd657301b27c","name":"Dayshift Message (Julies Phone)","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_sm_g781b","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Fraser Has Arrived At Work. Have A Good Day At Work Princess ❤️\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":220,"wires":[[]]},{"id":"4c112fb981c1386e","type":"inject","z":"df98bd657301b27c","name":"Meds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 05 * * 1,3,5,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":420,"wires":[["d5d9622119bd082a"]]},{"id":"dc06c7b4ddc187a0","type":"inject","z":"df98bd657301b27c","name":"Beard & Meds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"45 05 * * 2,4,6","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":360,"wires":[["77662277dd0bd0c3"]]},{"id":"77662277dd0bd0c3","type":"api-call-service","z":"df98bd657301b27c","name":"Beard & Meds Message ","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Beard To Be Washed. Please Remember To Take Medication & Inhaler Today.\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":360,"wires":[[]]},{"id":"d5d9622119bd082a","type":"api-call-service","z":"df98bd657301b27c","name":"Meds Message ","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_6_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Remember To Take Medication & Inhaler\",\"title\":\"Node-RED\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":420,"wires":[[]]},{"id":"f33c2b78a7e845e0","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Ender 3 V2","type":"str"},{"name":"message","value":"Print Is Finishing, Was It Successful?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"action2Title","value":"No","type":"str"},{"name":"group","value":"","type":"str"}],"x":560,"y":560,"wires":[["54148190f0bc0bc1"],[],[],[]]},{"id":"8200095acf283fb2","type":"server-state-changed","z":"df98bd657301b27c","name":"Print Finished","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.octoprint_print_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Operational","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":560,"wires":[["f33c2b78a7e845e0"],[]]},{"id":"54148190f0bc0bc1","type":"api-call-service","z":"df98bd657301b27c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.successful_prints"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":540,"wires":[[]]},{"id":"b4a33ff56ba3e995","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Replace Air Filter","type":"str"},{"name":"message","value":"Has It Been Replaced?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"}],"x":680,"y":800,"wires":[["cb8a754c60e0e22b"],[],[],[]]},{"id":"a761824318e1eaf7","type":"subflow:6dc0247c.d7210c","z":"df98bd657301b27c","name":"","env":[{"name":"service","value":"mobile_app_pixel_6_pro","type":"str"},{"name":"title","value":"Replace Cat Filter","type":"str"},{"name":"message","value":"Has It Been Replaced?","type":"str"},{"name":"action1Title","value":"Yes","type":"str"},{"name":"action2Title","value":"No","type":"str"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"}],"x":660,"y":1120,"wires":[["165645dbb4728340"],["d6d40c4f394b35dd"],[],[]]},{"id":"cb8a754c60e0e22b","type":"api-call-service","z":"df98bd657301b27c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.slider2"],"data":"{\"value\":\"180\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":780,"wires":[[]]},{"id":"165645dbb4728340","type":"api-call-service","z":"df98bd657301b27c","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.slider1"],"data":"{\"value\":\"30\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1100,"wires":[[]]},{"id":"57d6b7b2e93df394","type":"ha-tag","z":"df98bd657301b27c","name":"Air Filter Tag Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["34473cb0-84ec-47c7-afb3-b995d6d84c78"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":790,"wires":[["522eee56abc31e94"]]},{"id":"73ee88d693cdfe8e","type":"ha-tag","z":"df98bd657301b27c","name":"Water Filter Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["4678f2bc-04e2-4813-bd81-e31a7eca9dab"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1120,"wires":[["b4e28e1edf472d45"]]},{"id":"d6d40c4f394b35dd","type":"delay","z":"df98bd657301b27c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":1070,"wires":[["a761824318e1eaf7"]]},{"id":"522eee56abc31e94","type":"and-gate","z":"df98bd657301b27c","name":"AND","rules":[{"t":"lt","v":"5.0","vt":"str","propertyType":"msg","property":"payload","topic":"entity_state"},{"t":"eq","v":"34473cb0-84ec-47c7-afb3-b995d6d84c78","vt":"str","propertyType":"msg","property":"topic","topic":"tag_id"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":470,"y":800,"wires":[["b4a33ff56ba3e995","8de9cc6d0ae5f4c8"]]},{"id":"b4e28e1edf472d45","type":"and-gate","z":"df98bd657301b27c","name":"AND","rules":[{"t":"eq","v":"","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":460,"y":1120,"wires":[["a761824318e1eaf7"]]},{"id":"dfb8eebbf3847b60","type":"server-state-changed","z":"df98bd657301b27c","name":"Air Filter < 5 Days","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.slider2","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5.0","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":860,"wires":[["522eee56abc31e94"],[]]},{"id":"3badc190a70c65d7","type":"server-state-changed","z":"df98bd657301b27c","name":"Filter < 5 Days","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.slider1","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"5.0","halt_if_type":"num","halt_if_compare":"lte","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1180,"wires":[["b4e28e1edf472d45"],[]]},{"id":"8de9cc6d0ae5f4c8","type":"debug","z":"df98bd657301b27c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":740,"wires":[]},{"id":"26b52d0ce272992c","type":"ha-tag","z":"df98bd657301b27c","name":"Air Filter Tag Scanned","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["34473cb0-84ec-47c7-afb3-b995d6d84c78"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":710,"wires":[[]]},{"id":"e9d55a05e9f66037","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":40,"wires":[[]]},{"id":"6c5c2e2a63f09bad","type":"server-state-changed","z":"81c84ebcaf271487","name":"LG Plex Paused","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_lg_lg_oled55c14lb","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":600,"wires":[["623d19deacfc5141"],[]]},{"id":"623d19deacfc5141","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["downstairs_wc","kitchen"],"deviceId":[],"entityId":["light.downstairs_wc","light.kitchen_spotlights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":600,"wires":[["f21d979aafaefa85"]]},{"id":"f21d979aafaefa85","type":"api-current-state","z":"81c84ebcaf271487","name":"LG Plex Playing","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.plex_plex_for_lg_lg_oled55c14lb","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":600,"wires":[["153228fa96cb2f95"],[]]},{"id":"153228fa96cb2f95","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["downstairs_wc","kitchen"],"deviceId":[],"entityId":["light.downstairs_wc","light.kitchen_spotlights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":600,"wires":[[]]},{"id":"135a584334f9c221","type":"or-gate","z":"81c84ebcaf271487","name":"","rules":[{"t":"neq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"Offline","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"or","emitOnlyIfTrue":false,"x":320,"y":340,"wires":[["eb64fea84417469c"]]},{"id":"eb64fea84417469c","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_gameroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":340,"wires":[[]]},{"id":"e278a25cf3d59e28","type":"server-state-changed","z":"81c84ebcaf271487","name":"Fraser Away","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.fraser","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":300,"wires":[["135a584334f9c221"],[]]},{"id":"d1513760a0e27b8e","type":"server-state-changed","z":"81c84ebcaf271487","name":"PC Offline","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Offline","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":380,"wires":[["135a584334f9c221"],[]]},{"id":"1084e112ed04aee1","type":"time-range-switch","z":"81c84ebcaf271487","name":"","lat":"56.559109","lon":"-2.591543","startTime":"16:30","endTime":"00:15","startOffset":0,"endOffset":0,"x":910,"y":80,"wires":[["e9d55a05e9f66037"],[]]},{"id":"6938429d5631e97f","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["hallway"],"deviceId":[],"entityId":["switch.plug_for_lamp_in_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":950,"wires":[[]]},{"id":"3643c9b60be79bf4","type":"comment","z":"81c84ebcaf271487","name":"Bedside Light","info":"","x":190,"y":740,"wires":[]},{"id":"5294e990abf7acba","type":"comment","z":"81c84ebcaf271487","name":"Hallway Light","info":"","x":170,"y":910,"wires":[]},{"id":"842165f4332e1369","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_masterbedroom_bedside"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":780,"wires":[[]]},{"id":"572e2a42ab1250f1","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ikea_e14_masterbedroom_bedside"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":840,"wires":[[]]},{"id":"433b7a58a9c5d0cb","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["hallway"],"deviceId":[],"entityId":["switch.plug_for_lamp_in_hallway"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":1020,"wires":[[]]},{"id":"108e424f38daf5ff","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":["utility"],"deviceId":["5ef49b2cb67ef8663844e7c8b3372cbe"],"entityId":["switch.plug_for_external_lighting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1120,"wires":[[]]},{"id":"870191285d47dce0","type":"comment","z":"81c84ebcaf271487","name":"External Lights","info":"","x":80,"y":1060,"wires":[]},{"id":"6e2658643c897975","type":"api-call-service","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":["utility"],"deviceId":["5ef49b2cb67ef8663844e7c8b3372cbe"],"entityId":["switch.plug_for_external_lighting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1180,"wires":[[]]},{"id":"3895d0a3.e05bb","type":"bigtimer","z":"81c84ebcaf271487","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Sunset - 2130","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"5004","endtime":"1290","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":290,"y":1160,"wires":[["a8b74b4e.79fbb8"],[],[]]},{"id":"a8b74b4e.79fbb8","type":"switch","z":"81c84ebcaf271487","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":459.66663360595703,"y":1139.1666564941406,"wires":[["108e424f38daf5ff"],["6e2658643c897975"]]},{"id":"6dc55edd99129b50","type":"bigtimer","z":"81c84ebcaf271487","outtopic":"","outpayload1":"on","outpayload2":"off","name":"1830 - 2330","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"1110","endtime":"1410","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":280,"y":990,"wires":[["2b6cf873c025f917"],[],[]]},{"id":"2b6cf873c025f917","type":"switch","z":"81c84ebcaf271487","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":980,"wires":[["6938429d5631e97f"],["433b7a58a9c5d0cb"]]},{"id":"757d6c41fc4fe326","type":"ha-entity","z":"81c84ebcaf271487","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Hallway Lights (1830 - 2330)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":90,"y":990,"wires":[["6dc55edd99129b50"],[]]},{"id":"66234f56986cdb28","type":"ha-entity","z":"81c84ebcaf271487","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"External Lights (Sunset - 2130)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":90,"y":1170,"wires":[["3895d0a3.e05bb"],[]]},{"id":"b098a6144eca2b4d","type":"bigtimer","z":"81c84ebcaf271487","outtopic":"","outpayload1":"on","outpayload2":"off","name":"2000 - 2230","comment":"","lat":"56.559109","lon":"-2.591543","starttime":"1200","endtime":"1350","startoff":0,"endoff":0,"startoff2":"","endoff2":"","offs":"0","outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":"","month7":"","day8":"","month8":"","day9":"","month9":"","day10":"","month10":"","day11":"","month11":"","day12":"","month12":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":280,"y":830,"wires":[["4c1b6010ffba1721"],[],[]]},{"id":"4c1b6010ffba1721","type":"switch","z":"81c84ebcaf271487","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":459.66663360595703,"y":809.1666564941406,"wires":[["842165f4332e1369"],["572e2a42ab1250f1"]]},{"id":"0ab0b94c0cf99079","type":"ha-entity","z":"81c84ebcaf271487","name":"Switch On/Off","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Bedroom Lamp (2000 - 2230)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":90,"y":840,"wires":[["b098a6144eca2b4d"],[]]},{"id":"d842bec4e2170c55","type":"and-gate","z":"81c84ebcaf271487","name":"AND","rules":[{"t":"eq","v":"Online","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"true","vt":"str","propertyType":"msg","property":"payload","topic":""},{"t":"eq","v":"home","vt":"str","propertyType":"msg","property":"payload","topic":""}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":false,"x":740,"y":80,"wires":[["1084e112ed04aee1"]]},{"id":"1ac77203d1b70a6f","type":"ha-entity","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Gaming Light On"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"true","outputPayloadType":"bool","x":120,"y":30,"wires":[["d842bec4e2170c55"],[]]},{"id":"1a176c6d53cfdd39","type":"server-state-changed","z":"81c84ebcaf271487","name":"PC Online","server":"2be3cffd.0e38c","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battlestation","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"Online","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":160,"wires":[["d842bec4e2170c55"],[]]},{"id":"ddeac476ec524d8d","type":"debug","z":"81c84ebcaf271487","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":180,"wires":[]},{"id":"7a1cccc79010c7a6","type":"trigger-state","z":"81c84ebcaf271487","name":"","server":"2be3cffd.0e38c","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.fraser","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":160,"y":100,"wires":[["d842bec4e2170c55"],[]]},{"id":"36ca111e02c95da5","type":"api-call-service","z":"3adf559cd4bc6cd6","name":"Reboot HA","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"hassio","service":"host_reboot","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":100,"wires":[[]]},{"id":"41aa6fff8213d99e","type":"ha-tag","z":"3adf559cd4bc6cd6","name":"","server":"2be3cffd.0e38c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"tags":["cfd9eb0b-d8be-4a8b-9379-f2af4bf12253"],"devices":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":180,"wires":[["875c957d203cc049","91112ddef4a1f088"]]},{"id":"875c957d203cc049","type":"api-current-state","z":"3adf559cd4bc6cd6","name":"","server":"2be3cffd.0e38c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battlestation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":180,"wires":[["68c1f0f6dc49bebc"],[]]},{"id":"68c1f0f6dc49bebc","type":"api-call-service","z":"3adf559cd4bc6cd6","name":"Turn on PC","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"switch","service":"","areaId":[],"deviceId":[],"entityId":["sensor.battlestation"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":180,"wires":[[]]},{"id":"072f3a2d3f2d0225","type":"api-call-service","z":"3adf559cd4bc6cd6","name":"","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\t   \"media_content_id\":\"https://open.spotify.com/playlist/37i9dQZF1DWTyiBJ6yEqeu?si=d2eb3483bf2f4abd\",\t   \"media_content_type\":\"playlist\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":240,"wires":[[]]},{"id":"11638f02f1d94631","type":"debug","z":"3adf559cd4bc6cd6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"91112ddef4a1f088","type":"api-call-service","z":"3adf559cd4bc6cd6","name":"Set Volume To 40%","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\"volume_level\":0.4}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":300,"wires":[["ba758c1e667163ac"]]},{"id":"ba758c1e667163ac","type":"api-call-service","z":"3adf559cd4bc6cd6","name":"Shuffle","server":"2be3cffd.0e38c","version":5,"debugenabled":false,"domain":"media_player","service":"shuffle_set","areaId":[],"deviceId":[],"entityId":["media_player.googlehomegameroom"],"data":"{\t    \"shuffle\": \"true\"\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":240,"wires":[["072f3a2d3f2d0225"]]},{"id":"bf87fab6cf3d7c45","type":"ha-entity","z":"3adf559cd4bc6cd6","name":"","server":"2be3cffd.0e38c","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Reboot 2230"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":370,"y":100,"wires":[["36ca111e02c95da5"],[]]},{"id":"5d36040fd09a3e62","type":"inject","z":"3adf559cd4bc6cd6","name":"Mon & Thurs @ 2230","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 22 * * 1,4","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["bf87fab6cf3d7c45"]]}]